header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: var(--header-height);
    padding: 0 3vw 0 0;
}

.logo {
    display: inline-flex;
    justify-content: start;
}

header > * {
    display: inline-flex;
}

header h1 {
    font-family: 'Franklin Gothic Heavy';
    font-size: 3rem;
    color: var(--secundaryColor);
    margin: auto;
    margin-left: 1rem;
}

header img {
    padding: 1vh;
    width: var(--header-height);
    height: var(--header-height);
}

header nav ul {
    list-style: none;
    margin-block-start: auto;
    margin-block-end: auto;
    padding: 0;
}

    header nav ul li {
        display: inline-block;
        list-style: none;
    }

        header nav ul li:after {
            content: " \00b7";
        }

        header nav ul li:last-child:after {
            content: none;
        }

        header nav ul li:after, header nav ul li a {
            color: var(--secundaryColor);
            font-size: 1.3rem;
            font-weight: bold;
        }

            header nav ul li a.selected {
                color: var(--primaryColor) !important;
                pointer-events: none;
            }

        header nav ul li a {
            text-decoration: none;
        }

            header nav ul li a:hover {
                color: var(--primaryColor);
            }
