main #content {
    display: flex;
    justify-content: space-between;
    width: inherit;
}

/* ------------------------- */
/* --- Content Portrait ---- */
/* ------------------------- */

aside {
    display: flex;
    align-items: center;
    width: 45%;
}

    aside > article{
        margin: 2rem;
        background-color: white;
        border-radius: 5px;
        height: fit-content;
    }

#portrait{
    display:flex;
    justify-content: center;
}

    #portrait img {
        pointer-events: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%
    }

#portraitBorder {
    width: 40%;
    background-color: var(--primaryColor);
    margin: 1rem 0;
    padding: 0.4rem;
    border-radius: 100%;
}

#profile {
    margin-left: auto;
    text-align: justify;
    font-style: italic;
    padding: 1.5rem 2rem;
    margin: 0;
    line-height: 2;
    font-size: 1rem;
}

    #profile strong {
        font-weight: bold;
    }

/* ------------------------- */
/* -------- Services ------- */
/* ------------------------- */

.services {
    width: 55%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

    .services article {
        text-decoration: none;
        margin: 1vh 1vw 1vh 1vw;
        padding: 1rem;
        background-color: white;
        border-radius: 5px;
        height: fit-content;
        width: 45%;
        display: block;
        color: var(--secundaryColor);
    }

    .services h3 {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .services h3 svg{
        font-size: 1.8rem;
        margin-right: 15px;
    }

    .services p {
        font-size: 1rem;
    }

        .services p:last-child {
            font-weight: bold;
            font-style: italic;
        }
