h1 {
    font-size: 1.5rem;
}

a {
    display: block;
    color: var(--secundaryColor);
    text-decoration: none;
    font-size: 1.2rem;
}

    a:hover {
        color: var(--primaryColor);
    }

    a svg {
        min-width: 32px;
        text-align: center;
        padding-right: 1rem;
    }
