@page "/carriere"

<PageTitle>Ruben Vermeulen - Carriere</PageTitle>

<Header></Header>
<main>
    <MediaQuery Media="@Breakpoints.MediumDown" @bind-Matches="IsMobile">
        <Matched><CarriereMobile></CarriereMobile></Matched>
        <Unmatched><CarriereDesk></CarriereDesk></Unmatched>
    </MediaQuery>
</main>

@code {
    private bool IsMobile = false;
}