@page "/"

<PageTitle>Ruben Vermeulen</PageTitle>

<Header></Header>
<main>
    <MediaQuery Media="@Breakpoints.MediumDown" @bind-Matches="IsMobile">
        <Matched><IndexMobile></IndexMobile></Matched>
        <Unmatched><IndexDesk></IndexDesk></Unmatched>
    </MediaQuery>
</main>


@code {
    private bool IsMobile = false;
}