@page "/projecten"

<PageTitle>Ruben Vermeulen - Projecten</PageTitle>

<Header></Header>
<main>
    <MediaQuery Media="@Breakpoints.MediumDown" @bind-Matches="IsMobile">
        <Matched><ProjectsMobile></ProjectsMobile></Matched>
        <Unmatched><ProjectsDesk></ProjectsDesk></Unmatched>
    </MediaQuery>
</main>


@code {
    private bool IsMobile = false;
}