@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor ContextAccessor

<MediaQueryList>
    @Body
    <div id="bottomBackground">
        <div class="triangle"></div>
        <div class="triangleBottom"></div>
    </div>
</MediaQueryList>

@code {
    protected override void OnInitialized()
    {
        ContextAccessor.HttpContext.Request.EnableBuffering();
        base.OnInitialized();
    }
}