header {
    background-color: white;
    min-height: var(--header-height);
}

.headerMobile {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
}

.headerMobile > * {
    display: inline-flex;
}

.menuMobile {
    font-size: 1.8rem;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
    width: 55px;
}
    .menuMobile > * {
        display: none;
    }

    .menuMobile > *.active{
        display: block!important;
    }

    .menuMobile svg{
        display: block;
    }

header h1 {
    font-family: 'Franklin Gothic Heavy';
    font-size: 1.6rem;
    color: var(--secundaryColor);
    margin: auto;
}

header img {
    padding: 1vh;
    width: var(--header-height);
    height: var(--header-height);
}

header nav {
    display: none;
    position: absolute;
    background: white;
    width: 100%;
    z-index: 2;
}

header nav.active {
    display: block;
}

header nav ul {
    list-style: none;
    margin-block-start: auto;
    margin-block-end: auto;
    padding: 0;
}

    header nav ul li {
        display: block;
        list-style: none;
    }

        header nav ul li:last-child:after {
            content: none;
        }

        header nav ul li:after, header nav ul li a {
            color: var(--secundaryColor);
            font-size: 1.3rem;
            font-weight: bold;
        }

            header nav ul li a.selected {
                color: var(--primaryColor) !important;
                pointer-events: none;
            }

        header nav ul li a {
            text-decoration: none;
            width: 100% !important;
            padding-left: 1rem;
            display: block;
        }

            header nav ul li a:hover {
                color: white;
                background-color: var(--secundaryColor);
            }
