.errorCardBox{
    display: flex;
    align-items: center;
}

.errorCard {
    background: white;
    border-radius: 20px;
    color: var(--dev-lab-secundary);
    display: block;
    height: fit-content;
    padding: 1em;
}

    .errorCard > p {
        margin: 0;
    }