@page "/contact"

@inject IContactInfoService ContactInfoService

<PageTitle>Ruben Vermeulen - Contact</PageTitle>

<Header></Header>
<main>
    <div class="contactInfoBox">
        <section class="contactInfo">
            @foreach(var contact in contacts){
                <ContactView Contact="contact"></ContactView>
            }
        </section>
    </div>
</main>

 @code {
    private IList<ContactInfoViewModel> contacts = new List<ContactInfoViewModel>();

    protected override async Task OnInitializedAsync()
    {
        contacts = await ContactInfoService.Get();
    }
}