main {
    display: block!important;
}

h2 {
    margin: 1rem 0;
    text-align: center;
    color: white;
    font-weight: bold
}

main section, main section div {
    display: flex;
    justify-content: center;
}

main section {
    width: 100%;
}

    main section div {
        width: 80%;
        background-color: white;
        padding: 1.5rem;
        border-radius: 40px;
        display: flex;
        justify-content: start;
        flex-flow: row;
    }

    main section img {
        width: 45%;
        background-color: var(--primaryColor);
        padding: 0.4rem;
        margin-right: 1rem;
        border-radius: 20px;
    }

    main section p {
        margin-bottom: 0;
        color: var(--secundaryColor);
        font-weight: bold;
    }

@media screen and (max-width: 991.98px) {
    main section div {
        width: 90%;
        flex-flow: row wrap;
    }

    main section img {
        width: 100%;
        margin: 0;
    }

    main section p {
        margin-top: 1rem;
    }
}